body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    background:rgb(231, 199, 110);
    color: #111;
    font-size: 10px;
    font-family: "Avenir Next", Avenir, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

form {
    background: rgb(230, 194, 97);
    padding: 4em 4em 2em;
    max-width: 400px;
    margin: 50px auto 0;
    box-shadow: 0 0 1em #222;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input [type=submit]:hover {
    background-color: #45a049;
}
